@model IEnumerable<AppName.Models.Supervisor>

@{
    ViewData["Title"] = "Supervisors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supervisors</h2>
<br />
<p>
    @Html.ActionLink("+ New Supervisor Account", "New", "Supervisors", null, new { @class = "btn btn-primary" })
</p>
<br />
<table id="table" class="table table-hover table-bordered" style="width: 90%">
    <thead>
        <tr style="background: #eaeaea">
            <th width="20%">Supervisor Name</th>
            <th width="20%">Supervisor ID</th>
            <th width="20%">Username</th>
            <th width="20%">Password Changed</th>
            <th width="10%">Edit</th>
            <th width="10%">Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //Search box, pagination
        $(document).ready(function() {
            $('#table').DataTable({
                "pageLength": 8,
                "lengthChange": false,
                "ordering": false,
                "columnDefs": [
                    { "searchable": false, "targets": [1,2,3,4,5] }
                ],
                language: { search: "", searchPlaceholder: "Search by supervisor..." },
                "dom": "<'row'<'col-sm-12'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
            });
        });

        $.fn.dataTable.ext.classes.sPageButton = 'pagination-sm';
        $.fn.dataTable.ext.classes.sPageButtonActive = 'pagination-sm active';
        $.fn.dataTable.ext.classes.sPageButtonStaticDisabled = 'pagination-sm disabled';

        //TODO: Populate table
        //All supervisors, alphabetically by first name
        //Create working Resend, Edit, and Delete links to put in table

        //TODO: Create delete bootbox
    </script>

    <style type="text/css">
        .dataTables_filter input {
            width: 116%;
        }

        .dataTables_info {
            font-size: small;
        }

        .pagination {
            float: right;
            margin-right: 18%;
        }
    </style>
}