@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>
<br />
<!-- TODO: Remove test data -->
<p id="username"><strong>Username: </strong>AMartin</p>
<p id="password"><strong>Password: </strong>Change Password</p>
<p id="email"><strong>Email: </strong>Angela.Martin@example.com</p>

@section scripts
{
    <script>
        //TODO: Load information
        //TODO: Create working Change Password link
    </script>
}