<h2>Account</h2>
<br />
<!-- TODO: Remove test data -->
<p id="name"><strong>Name: </strong>Test User</p>
<p id="username"><strong>Username/Email: </strong>supervisor@example.com</p>
<p id="password"><strong>Password: </strong>Change Password</p>

@section scripts
{
    <script>
        //TODO: Load information
        //TODO: Create working Change Password link
    </script>
}
